*{margin:0; padding:0;outline:0;}
html{height:100%;}
h1{font-size:15px;}
h2{font-size:14px;} 
h3{font-size:13px;} 
h4{font-size:12px;} 
h5{font-size:11px;} 
h6{font-size:10px;} 
a{text-decoration:none;} 
p{padding:5px 0;}
img{border:0; border-spacing:0;}
img, embed{vertical-align:middle;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, img, embed  {
        margin: 0;
        padding: 0;
        outline: 0;
}
/* remember to define focus styles! */
:focus {
        outline: 0;
}
ol, ul {
        list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
        border-collapse: collapse;
        border-spacing: 0;
		border-color:#e8e8e8;
}
table td{border-color:#e8e8e8;}
caption, th, td {
        font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: "";
}
blockquote, q {
        quotes: "" "";
}
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
@charset "utf-8";
body{
	font: normal 12px Arial, Helvetica, sans-serif;
	color:#393939;
	height:100%;
}
.class_body{background:#111 url(skin/imgs/traicay/body_bg.jpg) repeat-x top center;}
#wrapper_mau_gh{
	width:1000px;
	background:#fff;
	margin:0 auto;
	-moz-box-shadow: 0px 0px 10px #92ff00; /* Firefox 3.6 and earlier */
	-webkit-box-shadow: 0px 0px 10px #92ff00; /* Safari */
	box-shadow: 0px 0px 10px #92ff00;
}
/************************************** BEGIN HEADER ***************************************/
#header_mau_gh{}
.banner_mau_gh img{width:1000px;}
.menu_mau_gh{height:36px;background:url(skin/imgs/traicay/nav.png) repeat-x;}
.text_link_numbala{float:left; background:url(skin/temp8/imgs/layout/line_menu.jpg) no-repeat top right;}
.text_link_numbala a{line-height:42px; padding:0 22px 0 20px;}
.line_menu{display:none; width:2px; height:36px; background:url(skin/temp8/imgs/layout/line_menu.jpg) no-repeat top center;}
.nav_menu_mau_gh{float:left; font-weight:bold; font-size:14px;}
.nav_menu_mau_gh li{float:left; position:relative; z-index:9999;}
.nav_menu_mau_gh li a{
	display:block;
	line-height:36px;
	color:#fff;
	padding:0 25px;
	z-index:9999;
	border-right: 1px solid #276504;
}
.nav_menu_mau_gh li:hover a{background-color: #297201; repeat-x; color:#8FDB28;}
.nav_menu_mau_gh li.curren a{background-color: #297201; repeat-x; color:#8FDB28;}
.nav_menu_mau_gh li:hover ul.menu_child{display:block;}
.nav_menu_mau_gh li ul.menu_child{
	display:none;
	position:absolute;
	width:200px;
	z-index:99999;
}
.nav_menu_mau_gh li ul.menu_child li a{
	display:block;
	float:none;
	line-height:25px;
	width:200px;
	padding:5px;	
	background:#242424;
	opacity:0.9;
	filter: alpha(opacity = 90);
	border-bottom:1px dotted #fff;
	font:normal 12px Arial, Helvetica, sans-serif;
}
.nav_menu_mau_gh li ul.menu_child li a:hover{color:#fff;}
/************************************** END HEADER *****************************************/

/************************************** BEGIN CONTENT **************************************/
#content_mau_gh{padding:5px 5px 0 5px;}
.left_c_mau_gh{
	width:200px; 
	float:left; 
	padding-right:10px;
	word-wrap: break-word;
}
.center_c_mau_gh{
	width:570px; 
	float:left;
	word-wrap: break-word;
}
.right_mau_gh{
	width:200px; 
	float:right; 
	padding-left:10px;
	word-wrap: break-word;
}
.frame_mau_gh{padding-bottom:10px;}
.title_f_m_gh{
	height:36px; line-height:36px;
	text-indent:11px;	
	background:url(skin/imgs/traicay/title_f_m_gh.jpg) no-repeat;
	color:#fff;
}
.main_f_m_gh{border:1px solid #e4e4e4;border-top:none;}


.silverheader{position:relative;}
.silverheader a{
	color: #333;
	display: block;
	padding: 7px 5px 7px 20px;
	border-top:1px dotted #7f7f7f;
}
.icon_arown_dmsp{
	background:url(skin/temp8/imgs/layout/icon_arown_dmsp.jpg) no-repeat;
	width:6px; height:5px;
	position:absolute;
	top:12px; left:10px;
}
.selected a, .silverheader a:hover{color:#398B02; font-weight:bold;}
.submenu li a{
	display:block;
	padding:7px 5px 7px 15px;
	border-top:1px dotted #7f7f7f;
	color:#333333;
}
.submenu li a:hover{color:#398B02;}


.httt_mau_gh{text-align:center; padding-top:10px;}
.text_yahoo{padding:7px 0;}
.tktc_mau_gh ul li{
	display:block; 
	padding:7px 5px; 
	border-top:1px dotted #7f7f7f;
}
.qc_mau_gh ul, .sp_mau_gh ul{padding:0 5px;}
.qc_mau_gh ul li, .sp_mau_gh ul li{padding:5px 0; border-top:1px solid #e4e4e4;}
.qc_mau_gh ul li img, .sp_mau_gh img{max-width:188px;}

.search_mau_gh{padding:10px;}
.inputsearch_mau_gh{
	width:166px; height:22px;
	padding:0 5px;
	line-height:22px;
	border:1px solid #e1e1e1;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#797979;
}
.inputgiatu_mau_gh{
	width:73px; height:22px;
	padding:0 5px;
	line-height:22px;
	border:1px solid #e1e1e1;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#797979;	
	float:left;
}
.inputgiaden_mau_gh{
	width:73px; height:22px;
	padding:0 5px;
	line-height:22px;
	border:1px solid #e1e1e1;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#797979;	
	float:right;
}
.select_theloai_mau_gh{
	width:85px; height:24px;
	line-height:24px;
	border:1px solid #e1e1e1;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#797979;	
	float:left;	
	padding:1px;
}
.select_loai_mau_gh{
	width:85px; height:24px;
	line-height:24px;
	border:1px solid #e1e1e1;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#797979;	
	float:right;	
	padding:1px;
}
.inputsearch_mau_gh:focus, .inputgiatu_mau_gh:focus, .inputgiaden_mau_gh:focus, .select_theloai_mau_gh:focus, .select_loai_mau_gh:focus{border:1px solid #FC9;}
.btn_search{
	border:none;
	background:url(skin/temp8/imgs/layout/btn_search.png) no-repeat top;
	width:85px; height:27px;
	cursor:pointer;	
}
.btn_search:hover{background-position:bottom;}

.slide_mau_g{
	height:267px; 
	border:1px solid #e4e4e4; 
	background:url(skin/temp8/imgs/layout/slide_mau_g.jpg) repeat-x bottom; 
	overflow:hidden;
	margin-bottom:10px;
}
.multiple img{width:558px; height:234px; padding:5px 5px 0 5px;}
/*pager links*/
.bx-pager a {
	margin-right: 5px;
	color: #000;
	width:15px; height:16px;
	zoom:1;
	background: url(skin/temp8/imgs/layout/button_slider.gif) no-repeat 0 -16px;
	display:block;
	float:left;
	text-indent:-99999px;
}
/*pager links hover and active states*/
.bx-pager .pager-active, .bx-pager a:hover{background-position: 0 0;color:#fff;}
/*pager wrapper*/
.bx-pager {
	text-align:center;
	font-weight:bold;
	position:absolute;
	bottom:-22px; left:40%; 
}
.frame_product_mau_gh{padding-bottom:10px;}
.title_f_p_m_gh{
	background:url(skin/imgs/traicay/menu_ngang.jpg) no-repeat;
	height:36px; line-height:36px;
	color:#fff;
	text-indent:10px;
}
.main_f_p_m_gh{
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
	word-wrap: break-word;
}
.footer_f_p_m_gh{
	background:url(skin/temp8/imgs/layout/footer_f_p_m_gh.jpg) no-repeat;
	height:30px; line-height:30px;
	font-size:10px;
	text-align:right;
	padding-right:10px;
}
.footer_f_p_m_gh a{color:#323232;text-decoration:underline;}
.footer_f_p_m_gh a:hover{color:#3b8d01;}
.news_mau_gh{padding:10px 10px 0 10px; text-align:justify;}
.img_gy_news{float:left; padding-right:10px;}
.img_gy_news img{
	max-width:157px; max-height:134px;
	padding:5px;
	border:1px solid #e8e8e8;
}
.nd_news h2 a{color:#2f7709;}
.nd_news h2 a:hover{text-decoration:underline;}
.nd_news p{font-size:14px;}
.news_other_mau_gh ul li a{
	display:block;
	padding:7px 0;
	border-bottom:1px dotted #acacac;	
	color:#393939;
}
.news_other_mau_gh ul li a:hover{color:#2f7709;}
.prod_mau_gh ul li{float:left; text-align:center; padding:10px 0 0 10px; width:176px;}
.frame_img_dm{		
	width:164px; height:150px;
	padding:5px;
	border:1px solid #e8e8e8;
}
.frame_img_dm table{width:100%; height:100%; text-align:center;}
.frame_img_dm table td{vertical-align:middle;}
.frame_img_dm img{max-width:164px; max-height:150px;}
.prod_mau_gh ul li:hover .frame_img_dm{border:1px solid #2f2f2f;}
.title_prod_news a{
	color:#2f2f2f;
	padding:3px 0 1px 0;
	display:block;
	font-size:12px;
}
.title_prod_news a:hover{text-decoration:underline;}
.price_prod_mau_gh{color:#cc0000; font-weight:normal; font-size:11px;}
.vide_mau_gh{padding:5px;}
.vide_mau_gh embed{vertical-align:middle;}
#ticker_03{text-align:center;}
/*#ticker_03 img{width:188px; height:165px;}*/
#ticker_03 li{padding-bottom:2px;}
/************************************** END CONTENT ****************************************/

/************************************** BEGIN FOOTER ***************************************/
#footer_mau_gh{
	text-align:center; 
	background:#0a0a0a url(skin/temp8/imgs/layout/footer_bg.jpg) repeat-x top; 
	padding:7px 0;	
	 position:relative;
}
#footer_mau_gh p{padding:0;}
.menu_footer{font-weight:bold; font-size:14px; color:#ccc;}
.menu_footer a{color:#ccc;}
.menu_footer a:hover{color:#8FDB28;}
.info_footer{color:#ccc; padding-top:4px;}
.alexa { position:absolute; bottom:5px; right:-125px;}
/************************************** BEGIN FOOTER ***************************************/

.clear{clear:both;}
.num1{color:#ff5b01;}.num2{color:#3d5aa8;}.num3{color:#6dbf47;}
.silverheader:first-child a, .tktc_mau_gh ul li:first-child, .qc_mau_gh ul li:first-child{border-top:none;}
/************************************** BEGIN PHAN TRANG ****************************************/
.phantrang_gh{text-align:center; padding:13px 0;}
.PageNum a{
	background:#fff;
	padding:2px 5px;
	height:17px;
	border:1px solid #c4dfe6;
	color:#3d5aa8;
	margin-right:3px;
}
.PageNum a:hover{color:#202f3d;}
.PageNum span{
	background:#f1f7fe;
	padding:2px 5px;
	height:17px;
	border:1px solid #c4dfe6;
	color:#202f3d;
	font-weight:bold;
	margin-right:3px;
}
/************************************** END PHAN TRANG ***************************************/
.canh_css_frame{text-align:justify; overflow:hidden;}
.canh_css_frame div, .canh_css_frame table{width:548px; word-wrap: break-word;}
.canh_css_frame img{max-width:548px;}
.canh_css_frame div table td{padding:5px 0; text-indent:5px;}

.readmore_info{color:#03C;}
.readmore_info:hover{color:#003;}

/*********************************** Css prodetail hieu*************************************/

.over_imgs_h {
	float:left;
	width:200px; height:200px;
	border:1px solid #ccc;
	margin-right:10px;
	padding:5px;
}
.over_imgs_h span{
	overflow:hidden;
	margin:2px;
	display:block;
	width:100px; height:80px;
}
.over_imgs_h table{width:100%; height:100%; }
.over_imgs_h table td{vertical-align:middle; text-align:center;}
.over_imgs_h img{
	background:#fff;
	max-width:190px; height:auto;
}
.over_text_h {overflow:hidden;font:Tahoma, Geneva, sans-serif;font-size:12px;}
.detail_title_h {
	color: #4F4F4F;
    line-height: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
    font: bold 1.4em/1em Tahoma,Geneva,sans-serif;	
	border-bottom:1px solid #EEEEEE;
	padding-bottom:10px;
}
.col_1detail_h {
    margin-right: 20px;
    width: 100px;
	float:left;
    line-height: 16px;font-weight:bold;
}

.price_sp_h {
    font-size: 1.6em;
    font-weight: bold;
	color: #AC0404;
}
.price_sp_old_h {
	color: #969696;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
}
.ico_bullet_h {
    background: url(ico_check.png) no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 15px;
    margin-right: 3px;
    width: 15px;
}
.over_text_h a{color:#222;}
.over_text_h a:hover{text-decoration:underline; color:#000;}

.box_link_t { padding:5px;}
.box_link_t select { height:25px; line-height:25px; width:190px;}

.box_download_t a { color:#000;}


/*********doi tac*******/
#slide_sptb li{float:left; width:163px; padding-right:20px; text-align:center; margin-left:8px;}
.space_sptb{border:1px solid #e6e6e6; background:#fff; padding:3px; width:155px; height:155px;}
.space_sptb:hover{box-shadow:0px 0px 2px #ddd; -moz-box-shadow:0px 0px 2px #ddd;}
.space_sptb span{width:100%; height:100%; overflow:hidden; display:block;}
.space_sptb table{width:100%; height:100%;}
.space_sptb table td{text-align:center; vertical-align:middle;}
.space_sptb table td img{max-width:155px; max-height:155px;}
#slide_sptb li h4 a{padding-top:7px; color:#555; display:block;}
#slide_sptb li h4 a:hover{color:#368606;}

.main_sptb .bx-prev{background:url(skin/temp8/imgs/layout/prev_icon.png) no-repeat; width:22px; height:21px; position:absolute; top:189px; left:255px; text-indent:-99999px;}
.main_sptb .bx-next{background:url(skin/temp8/imgs/layout/next_icon.png) no-repeat; width:22px; height:21px; position:absolute; top:189px; right:230px; text-indent:-99999px;}
/**************************************** BEGIN IE6 ****************************************/
*html body{behavior: url(scripts/whateverhover.htc);}
*html .nav_menu_mau_gh li{z-index:99999;}
*html .submenu li, *html .news_other_mau_gh ul li, *html .main_f_p_m_gh, *html .tag-pos{display:inline-block;}
*html .img_gy_news img{display:block;}
*html ..bx-pager a{overflow:hidden;}
*html .inputsearch_mau_gh, *html .inputgiatu_mau_gh, *html .inputgiaden_mau_gh{line-height:22px;}
*html .tktc_mau_gh ul li{border-top:expression(this.previousSibling==null?'none':'-');}

*html .canh_css_frame img{width:548px;}
*html .frame_img_dm img{width:164px;height:150px;}
*html .sp_xn_style td img{width:188px; height:165px;}
*html .banner_mau_gh img{height:250px;}
*html .qc_mau_gh ul li img, *html .sp_mau_gh img{width:188px;}
*html .icon_shop_2 span{display:inline-block;}
*html .img_gy_news img{width:157px; height:134px;}

*html .title_tls{color:#333; padding:7px 0;}
*html .price_tls{color:#C00; padding-top:7px;}
*html .tomtat_tls{padding:4px 0 7px 0;}
*html .main_img_tls{text-align:center;}
*html .main_img_tls img{width:250px; max-height:250px;}

*html .main_img_tls img{width:250px; max-height:250px;}
*html .left_news_tls{width:80px; float:left; padding-right:10px;}
*html .left_news_tls img{width:80px; height:80px;}
*html .main_news_tls{padding-bottom:10px;}

/**************************************** END IE6 ****************************************/

/**************************************** END IE7 ****************************************/
*+html .nav_menu_mau_gh li{z-index:99999;}
*+html .main_f_p_m_gh, *+html .tag-pos{display:inline-block;}
*+html .inputsearch_mau_gh, *+html .inputgiatu_mau_gh, *+html .inputgiaden_mau_gh{line-height:22px;}

*+html .title_tls{color:#333; padding:7px 0;}
*+html .price_tls{color:#C00; padding-top:7px;}
*+html .tomtat_tls{padding:4px 0 7px 0;}
*+html .main_img_tls{text-align:center;}
*+html .main_img_tls img{width:250px; max-height:250px;}

*+html .main_img_tls img{width:250px; max-height:250px;}
*+html .left_news_tls{width:80px; float:left; padding-right:10px;}
*+html .left_news_tls img{width:80px; height:80px;}
*+html .main_news_tls{padding-bottom:10px;}

/**************************************** BEGIN IE8 ****************************************/
@media \0screen {
	.inputsearch_mau_gh, .inputgiatu_mau_gh, .inputgiaden_mau_gh{line-height:22px;}
	.title_tls{color:#333; padding:7px 0;}
	.price_tls{color:#C00; padding-top:7px;}
	.tomtat_tls{padding:4px 0 7px 0;}
	.main_img_tls{text-align:center;}
	.main_img_tls img{width:250px; max-height:250px;}
	.left_news_tls{width:80px; float:left; padding-right:10px;}
	.left_news_tls img{width:80px; height:80px;}
	.main_news_tls{padding-bottom:10px;}
	.frame_img_dm img{width:164px;}
}
/**************************************** END IE8 ****************************************/
.ul_dmsp_mau_gh {
	z-index:-99;
}
.ul_dmsp_mau_gh li { z-index:-99;}

.product_t_t { padding:5px; margin-left:7px;}
.m_upsp {
   background: url("skin/temp8/imgs/layout/m_upsp.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ECECEC;
    height: 213px;
    margin: 10px 6px 0 0;
    overflow: hidden;
    padding: 5px;
    width: 165px;
}
.spm li, .m_upsp {
    float: left;
}

.space_img_sp {
    height: 140px;
    overflow: hidden;
    width: 165px;
}

.space_img_sp img {
    min-height: 140px;
    width: 165px;
}

.name_prod a {
    color: #666666;
    display: block;
    font-weight: normal;
    padding-top: 10px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 165px;
}

.t_shop_n {
    background: url("skin/temp8/imgs/layout/1.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #999999 !important;
    display: block;
    padding-left: 20px;
}
.price_prod {
    background: url("skin/temp8/imgs/layout/2.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #F98D32;
    display: block;
    padding-left: 20px;
}
.m_upsp:hover {
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 2px #CCCCCC;
}