RewriteRule \.php$ - [R=404,NC,L]
RewriteRule \.php.$ - [R=404,NC,L]

<Files *.*>
Order allow,deny
Denny from all
ErrorDocument 403 http://cpckids.com
</Files>
<FilesMatch "\.(gif|jpe?g|png|JPE?G|PNG|GIF)$">
  allow from all
</FilesMatch>