@charset "utf-8";
@import url("reset.css");

.clear {clear:both; height: 0;}
.fix-box-sizing
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 15px;
    padding-top: 10px;
}

body{
	font: normal 12px Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #4e4e4e;
	background: #fff;
}