@charset "utf-8";
@import url("reset.css");

.clear {clear:both; height: 0;}
.fix-box-sizing
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 20px;
    padding: 20px;
    margin-top: 0 !important;
    height:auto;
}

body{
	font: normal 13px Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #000000;
    overflow-x: hidden !important;
    margin: 0 auto 0 auto;
    background-color: #F5F5F5;
    max-width: 100%;
}