body{
    overflow-x: hidden;
    margin: 0 auto 0 auto;
    background-color: #F5F5F5;
}

.m-wrap, .container {max-width: 1210px; margin: 0 auto; width: 100%;}

img { max-width:100% !important; height: auto !important; }

/************************************************************************************
BEGIN HEADER
*************************************************************************************/

header {border-bottom: 1px solid #dbdbdb; background-color: #ffffff;}
header .m-wrap {position: fixed;}

.logo {position: absolute; top: 0; left: 0;}

.btn-gh {position: absolute; top: 24px; right: 0; height: 32px;}
.btn-gh ul li {float: left; position: relative;}
.btn-gh ul li + li {padding-left: 10px;}
span.sp-gh1 {position: relative; font-size: 11px; color: #fff; text-align: center;  top: 0; left: 8px; background: url(../imgs/layout/sp-gh1.png) no-repeat; width: 19px; height: 20px; padding: 5px;}
a.btn-gh1 {background: url(../imgs/layout/btn-gh1.png) no-repeat 0px 0px; display: block; width: 98px; height: 32px;}
a.btn-gh2 {background: url(../imgs/layout/btn-gh2.png) no-repeat 0px 0px; display: block; width: 164px; height: 32px;}
a.btn-gh3 {background-color: #2A70D2; display: block; color: #ffffff !important; text-align: center; padding: 0 0 10px 0; width: 190px; height: 23px; cursor: pointer; font-size: 14px !important;}
a.btn-gh3:hover{text-decoration: underline;}
a.btn-gh3 i{margin-right: 5px;}
.btn-gh ul li a.btn-gh1:hover , .btn-gh ul li a.btn-gh2:hover {background-position: 0px -32px;}

.search_top_header {position: absolute; top: 24px; height: 30px; border: 1px solid #ddd; background: #fff;}

.select_item_search {
    width: 95px;
	height: 30px;
	background: url(../imgs/layout/select_item_search.png) repeat-x;
	float: left;
	font-size: 11px;
	border-right: 1px solid #ddd;
}
.select22 {position: absolute; z-index: 10; cursor: pointer; width: 95px; height: 30px; top: 0px; visibility: visible;}
.sp1_select {display: block; position: relative; padding: 0 10px 0 0;}
.sp2_select {
	display: block;
	line-height: 30px;
	padding: 0 15px 0 10px;
	color: #707070;
	background: url(../imgs/layout/arrown_select.png) no-repeat right;
	position: relative;
	top: 0px; left: 0;
	cursor: pointer;
	overflow: visible;
}
.select_input_search {overflow: hidden; z-index: 20; position: relative; display: inline-block;}
.select_input_search input{
    padding: 0 10px;
}
.ipt_s{
	height: 30px; width: 100%;
	border: none;
	color: #959494;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #aaa;
}
.ipt_s:focus, .ipt_s:hover {color: #333;}
.btn_s{
	background: url(../imgs/search.png) no-repeat 0px 0px !important;
	width: 28px; height: 28px;
	border: none;
	position: absolute;
	top: 1px; right: 1px;
	cursor: pointer;
    background-size: 100%;
    background-color: #669AD3 !important;
}
/*.btn_s:hover {background-position: 0px -28px;}*/

/************************************************************************************
END HEADER
*************************************************************************************/

/************************************************************************************
BEGIN CONTAINER
*************************************************************************************/

#container {padding: 0 0 20px 0; min-height: 400px;}

.tool-ct {height: 34px; line-height: 34px; font-size: 11px;}
/*background: url(../imgs/layout/tool-ct.png) repeat-x bottom; padding-bottom: 4px;*/
.l-tool-ct {float: left;}
.l-tool-ct ul.ul-ltct > li {float: left; text-transform: capitalize !important;}
span.hotline { margin-left: 5px !important;}
.l-tool-ct ul.ul-ltct > li span.support {background: url(../imgs/layout/support.png) no-repeat left; padding-left: 22px; display: block;}
.l-tool-ct ul.ul-ltct > li + li {padding-left: 20px;}

.r-box-tool{margin: 15px 70px 0 0;}
.r-box-tool ul li{
     margin-top: 25px;
 }
.r-box-tool ul li:first-child{
    margin-top: 0;
}
.r-tool-ct {float: right; background-color: #ffffff;}
.r-tool-ct ul li {float: left; cursor: pointer;}
.r-tool-ct ul li + li {padding-left: 5px;}
.r-tool-ct ul li a {color: #444;}
.r-tool-ct ul li a:hover {color: #3ba11b; text-decoration: underline;}
.sty-user {color: #3ba11b; font-weight: bold; text-transform: none;}

.top-ct {padding: 20px 0;}
.dmsp {float: left; width: 190px;}
.dmsp1 {float: right; width: 190px;}
.dmsp2 {display: none;}
.dmsp3 {float: right; width: 190px; position: absolute; top: 119px; right: 70px; height: 481px;}
.dmsp4-1 {float: left; width: 189px; height: 420px; background-color: #ffffff; border-right: 1px solid #ffffff}
.dmsp4-2 {float: left; width: 390px; height: 420px; background-color: #ffffff;}
.dmsp4-2 a img{
    width: 100%;
    height: 100%;
}
.dmsp4-3 {float: left; max-width: 630px; height: 420px; overflow: hidden; background-color: #ffffff;}
.dmsp4-1, .dmsp4-2, .dmsp4-3, .divAds, .ads-floors a img{
    box-shadow: 0 1px 2px rgba(0,0,0,.1); box-sizing: border-box;
}
.divAds{
    margin: 0 1px 0 1px;
    background-color: white;
}
.bx-wrapper .bx-viewport{
    background-color: transparent !important;
}
.img-right{width: 168px; height: 481px;}
.ads-home{float:left; width: 830px; height: 330px !important; overflow: hidden;}
.ads-logo{width: 136px; background-color: white; float: left; padding: 18px 0 18px 0; text-align: center; border: 1px solid #F5F5F5;}
.ads-logo img{max-width: 90px; max-height: 45px; display: inline}
.ads-article article{}
.ads-top-left-right{
    width: 190px !important;
    height: 330px !important;
}
.ads-top{padding: 20px 0 0 0;}
.clearfix{clear: both;}
.slider {float: right; width: 770px; height: 312px; overflow: hidden;}

#slider{
    z-index: 99;
    visibility:hidden;
    overflow: hidden;
}

#slider img {width: 770px; height: 312px;}

.slide a{
    text-align: center;
}
.slide a img{max-width: 190px; max-height: 67px; width: 187px;}

.mn-dm {
	border: 1px solid #dbdbdb;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    position: relative;
    z-index: 100 !important;
    background-color: white !important;
    opacity: 0.85;
}
.mn-dm:hover {
	-webkit-border-radius: 3px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 3px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-radius: 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

.t-mn-dm {color: #010101; font-size: 16px; font-weight: normal; padding: 6px 0 3px 0; border-bottom: 2px solid #ddd; text-align: center; text-transform: uppercase;}
.m-mn-dm {}
.readmore {font-size: 10px; text-transform: uppercase; color: #333; background: url(../imgs/layout/icon_rm.png) no-repeat 10px 9px; padding: 6px 0 6px 24px; display: block;}
.readmore:hover {color: #3ba11b;}


/*---------------------------dinh dang icon category------------------*/

ul.ul-dm > li {border-bottom: 1px solid #eee; position: relative; z-index: 999;}
ul.ul-dm > li > span.icon-dm {background: #fff; width: 24px; height: 32px; position: absolute; top: 0; left: 0;}
ul.ul-dm > li > span.icon-dm img {width: 16px; height: 16px; position: absolute; top: 7px; left: 0;}
ul.ul-dm > li > a {
	color: #333; 
	display: block; 
	padding: 8px 0 8px 0;
	overflow: hidden;
	white-space: nowrap;
	height: 15px;
	text-overflow: ellipsis;
	margin-left: 24px;
	-moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
	border-left: 1px solid #fff;
    background-color: white;
}
ul.ul-dm > li > span.mask-sub-menu {
	display: none; 
	width: 11px; height: 31px; 
	background: #fff; 
	position: absolute; 
	top: -1px; right: -11px; 
	z-index:999;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
ul.ul-dm > li:hover > span.mask-sub-menu {display: block;}
ul.ul-dm > li > a:hover {color: #3ba11b; background: #fff}
ul.ul-dm > li:hover > a {
	border-left: 1px solid #eee;
	padding-left: 10px;
	-moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

/*Sub menu*/

ul.ul-dm > li:hover > .sub-menu {display: block;}
/*****************************************************end#icon#category*/
.sub-menu {
	padding: 10px;
	display: none;
	position: absolute;
	left: 178px;
	width: 999px;
    height: 460px;
	background: #fff;
	border: 1px solid #dbdbdb;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}
#s-mn1 {top: -1px;}
#s-mn2 {top: -33px;}
#s-mn3 {top: -65px;}
#s-mn4 {top: -97px;}
#s-mn5 {top: -129px;}
#s-mn6 {top: -161px;}
#s-mn7 {top: -193px;}
#s-mn8 {top: -225px;}
#s-mn9 {top: -257px;}
#s-mn10 {top: -289px;}
#s-mn11 {top: -321px;}
#s-mn12 {top: -353px;}
#s-mn13 {top: -385px;}
#s-mn14 {top: -417px;}
#s-mn15 {top: -449px;}

.t-sub-mn {color: #3ba11b; font-size: 18px; padding-bottom: 10px; position: relative; z-index: 100;}
.m-sub-mn {width: 500px; height: 259px; overflow: hidden; position: relative; z-index: 100;}
.m-sub-mn ul li {width: 160px; float: left; margin-right: 10px; line-height: 32px; height: 32px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.m-sub-mn ul li:nth-child(3n) {margin-right: 0;}
.m-sub-mn ul li a {color: #333; background: url(../imgs/layout/icon-sub.png) no-repeat 0px 6px; padding: 0 0 0 10px;}
.m-sub-mn ul li a:hover {color: #3ba11b; text-decoration: underline;}
.img-sty-sub {position: absolute; top: 0; right: 0;}

/*Sub menu*/

.Prod-nb {margin-top: 10px;}
.t-Pnb {height: 37px; line-height: 37px; border: 1px solid #ececec; font-size: 15px; padding: 0 8px;}
/*background: url(../imgs/layout/t-Pnb.png) no-repeat center;*/
.m-Pnb {padding: 10px 0 0 0;}
.m-Pnb2 {display: none;}
.m-Pnb ul li {
	width: 176px; height: 218px;
	border: 1px solid #ececec;
	background: #fff;
	padding: 5px 5px 0 5px;
	-moz-box-shadow: inset 0px 0px 5px 0px #f1f1f1;
	-webkit-box-shadow: inset 0px 0px 5px 0px #f1f1f1;
	box-shadow: inset 0px 0px 5px 0px #f1f1f1;
}
.m-Pnb ul li:hover {
	border: 1px solid #bbb;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}
.m-Pnb .bx-controls .bx-pager {position: absolute; top: -33px; right: 17px; padding: inherit; bottom: inherit; text-align: inherit; width: inherit;}
.m-Pnb .bx-controls .bx-pager  a {
	display: block !important;
	width: 7px !important; height: 7px !important;
	background: #cac8cf !important;
	margin: 0 0 0 5px !important;
}
.m-Pnb .bx-controls .bx-pager  a.active {
	background: #696969 !important;
}
.i-Pnb {height: 140px; overflow: hidden;}
.i-Pnb img {width: 176px; min-height: 140px;}
.n-Pnb {
    display: block;
    color: #666;
    padding: 10px 0 0 0;
    height: 28px;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.2em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.s-Pnb {display: block; color: #666; padding: 6px 0 0 0; overflow: hidden; white-space: nowrap; height: 18px; text-overflow: ellipsis; background: none !important;}
.n-Pnb:hover{color: #3ba11b; text-decoration: underline;}
.price-Pnb {display: block; color: #f98d32; padding: 3px 0 0 20px; overflow: hidden; white-space: nowrap; height: 15px; text-overflow: ellipsis; background: url(../imgs/layout/price-Pnb.png) no-repeat 0px 7px;}

.Adv {padding-bottom: 20px; text-align: center;}
.Adv img {max-width: 100%;}

.ul-Pnb2 .slide ul li {
	width: 176px; height: 218px;	
	border: 1px solid #ececec;
	background: #fff;
	padding: 5px 5px 0 5px;
	-moz-box-shadow: inset 0px 0px 5px 0px #f1f1f1;
	-webkit-box-shadow: inset 0px 0px 5px 0px #f1f1f1;
	box-shadow: inset 0px 0px 5px 0px #f1f1f1;
	float: left;
	margin: 0 10px 0 0;
}
.ul-Pnb2 .slide ul li:nth-child(5n) {margin-right: 0;}
.ul-Pnb2 .slide ul li + li + li + li + li + li {margin-top: 10px;}
.ul-Pnb2 .slide ul li:hover {
	border: 1px solid #bbb;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.News-nb {padding: 0 0 20px 0;}
.News-nb article {
	border: 1px solid #dbdbdb;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.m-News-nb {padding: 10px 0; height: 325px}
.m-News-nb2 {display: none;}
.ul-Pnb3 .slide ul li {
	width: 302px;
	float: left;
	margin: 0 20px 0 0;
}
.ul-Pnb3 .slide ul li + li + li + li {margin-top: 10px;}
.ul-Pnb3 .slide ul li:nth-child(3n) {margin-right: 0;}
.l-News {width: 82px; height: 78px; padding: 3px; border: 1px solid #e2e2e2; margin-right: 10px; float: left;}
.l-News img {width: 82px; height: 78px;}
.r-News {line-height: 18px;}
.r-News h4 a {color: #333;}
.r-News h4 a:hover {color: #3ba11b; text-decoration: underline;}
.r-News span {color: #666;}
.m-News-nb .bx-controls .bx-pager {position: absolute; top: -28px; right: 0; padding: inherit; bottom: inherit; text-align: inherit; width: inherit;}
.m-News-nb .bx-controls .bx-pager  a {
	display: block !important;
	width: 7px !important; height: 7px !important;
	background: #cac8cf !important;
	margin: 0 0 0 5px !important;
}
.m-News-nb .bx-controls .bx-pager  a.active {
	background: #696969 !important;
}

.app-orther {padding: 0 0 20px 0;}
.app-orther article {
	width: 298px;
	float: left; 
	margin: 0 20px 0 0;
	border: 1px solid #dbdbdb;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.app-orther article:nth-child(3n) {margin-right: 0;}

.m-AppOr {padding: 10px 0; height: 290px;}
.m-AppOr2 {display: none;}
.m-AppOr .bx-controls .bx-pager {position: absolute; top: -28px; right: 0; padding: inherit; bottom: inherit; text-align: inherit; width: inherit;}
.m-AppOr .bx-controls .bx-pager  a {
	display: block !important;
	width: 7px !important; height: 7px !important;
	background: #cac8cf !important;
	margin: 0 0 0 5px !important;
}
.m-AppOr .bx-controls .bx-pager  a.active {
	background: #696969 !important;
}

.ul-Pnb4 .slide ul li {width: 82px; height: 78px; padding: 3px; border: 1px solid #e2e2e2; float: left; margin: 0 10px 0 0;}
.ul-Pnb4 .slide ul li:nth-child(3n) {margin-right: 0;}
.ul-Pnb4 .slide ul li + li + li + li {margin-top: 10px;}
.ul-Pnb4 .slide ul li img {width: 82px; height: 78px;}

.ul-Pnb5 .slide ul li + li {padding-top: 10px;}

.ul-Pnb6 .slide ul li {
	padding: 10px 0; 
	border-bottom: 1px  dotted #999;
	height: 15px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.ul-Pnb6 .slide ul li:first-child {padding-top: 0;}
.ul-Pnb6 .slide ul li a {color: #333; background: url(../imgs/layout/icon-rv.png) no-repeat 0px 0px; padding: 0 0 0 24px;}
.ul-Pnb6 .slide ul li a:hover {color: #3ba11b; text-decoration: underline;}

/************************************************************************************
END CONTAINER
*************************************************************************************/

/************************************************************************************
BEGIN FOOTER
*************************************************************************************/

footer {}

.i-foot {}
.bg-ifoot {box-shadow: 0 1px 2px rgba(0,0,0,.1); box-sizing: border-box;}
/*background: url(../imgs/layout/ul-ifoot.png) repeat-y;*/
.i-foot ul.ul-ifoot > li {float: left; width: 25%;}
.t-ifoot {padding: 0 0 0 20px; background: #ffffff; height: 30px; line-height: 30px;}
.m-ifoot {padding: 10px 10px 10px 20px; line-height: 22px; font-size: 11px; background: #ffffff;}
.m-ifoot ul.news li a {color: #444; background: url(../imgs/layout/icon-ifoot.png) no-repeat left 5px; padding: 0 0 0 10px;}
.m-ifoot ul.news li a:hover {color: #3ba11b; text-decoration: underline;}

.m-ifoot ul.yahoo li {height: 22px; line-height: 22px;}
.l-yahoo {float: left; width: 30%;}
.r-yahoo {overflow: hidden; width: 100px; display: inline-block}
.m-ifoot ul.yahoo li .l-yahoo a {color: #444; background: url(../imgs/layout/icon-ifoot.png) no-repeat left 5px; padding: 0 0 0 10px;}
.m-ifoot ul.yahoo li .l-yahoo a:hover {color: #3ba11b; text-decoration: underline;}

.m-ifoot ul.social li {float: left;}
.m-ifoot ul.social li + li {padding-left: 10px;}
.m-ifoot ul.social li img {width: 32px; height: 32px;}

.text-foot {text-align: center; padding: 10px 0 20px 0; line-height: 18px;}
.text-foot a {color: #2A70D2;}
.text-foot a:hover {color: #f41e1e;}

/************************************************************************************
END FOOTER

/************************************** BEGIN PHAN TRANG ************************************/

.f-details {font-size: 14px; line-height: 22px; color: #4e4e4e; padding: 10px 0;}
.f-details img, .f-details div, .f-details table, .f-details h1, .f-details h2, .f-details h3, .f-details h4, .f-details h5, .f-details h6, .f-details p, .f-details strong, .f-details em{max-width: 100% !important;}
.f-details img{padding: 5px 0;}


/************************************** BEGIN PHAN TRANG ************************************/

.frame_phantrang{padding: 20px 0 0 0; text-align:center;}
.PageNum a{
	background:#fff;
	padding:2px 5px;
	border:1px solid #d5d5d5;
	color:#202f3d;
	margin: 0 3px 5px 0;
	display: inline-block;
}
.PageNum a:hover{color:#202f3d; background:#f1f1f1;}
.PageNum span{
	background:#f1f1f1;
	padding:2px 5px;
	border:1px solid #d5d5d5;
	color:#202f3d;
	font-weight:bold;
	margin: 0 3px 5px 0;
	display: inline-block;
}
/************************************** END PHAN TRANG **************************************/

.breacrum {padding: 7px 0;}
.breacrum ul li {float: left;}
.breacrum ul li a {background: url(../imgs/layout/icon-breacrum.png) no-repeat right; color: #999; padding: 0 14px 0 10px; cursor: pointer;}
.breacrum ul li a:hover {text-decoration: underline; color: #3ba11b;}
.breacrum ul li:first-child a {padding-left: 0;}
.breacrum ul li:last-child a {padding-right: 0; background: none;}

.f-ct {padding: 0 0 20px 0;}
.sidebar {float: left; width: 190px;}
.content {float: left; width: 1000px; margin-left: 5px;}

.catelog {
	border: 1px solid #dbdbdb;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.m-cate {padding: 10px 0;}
.m-cate ul li {padding: 5px 0; font-size: 13px;}
.m-cate ul li a {background: url(../imgs/layout/icon-cate.png) no-repeat 0px 4px; padding: 0 0 0 15px; color: #333;}
.m-cate ul li a:hover {text-decoration: underline; color: #3ba11b;}

.filter-Prod {}
.filter-Prod h4 {font-size: 12px; position: relative;}
ul.ul-fP li {float: left; padding-right: 5px;}
ul.ul-fP li a {color: #666;}
ul.ul-fP li.atc a {color: #3ba11b;}
.f-sty-P {position: absolute; top: 7px; right: 7px; height: 23px;}
.f-sty-P ul li {float: left;}
.f-sty-P ul li + li {padding-left: 5px;}
.f-sty-P ul li a {width: 23px; height: 23px; display: block; background: url(../imgs/layout/view_display.png) no-repeat;}
.f-sty-P ul li a.f-sty-P1 {background-position: 0px 0px;}
.f-sty-P ul li a.f-sty-P1.atc {background-position: 0px -23px;}
.f-sty-P ul li a.f-sty-P2 {background-position: -23px 0px;}
.f-sty-P ul li a.f-sty-P2.atc {background-position: -23px -23px;}

.Prod-cate ul li.li-Pc1 {
	float: left;
	margin: 10px 10px 0 0;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ECECEC;
    -moz-box-shadow: inset 0px 0px 5px 0px #f1f1f1;
	-webkit-box-shadow: inset 0px 0px 5px 0px #f1f1f1;
	box-shadow: inset 0px 0px 5px 0px #f1f1f1;
    height: 218px;
    padding: 5px 5px 0;
    width: 173px;
}
.Prod-cate ul li.li-Pc1:nth-child(4n) {margin-right: 0;}
.Prod-cate ul li.li-Pc1:hover {
	border: 1px solid #bbb;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}
.Prod-cate ul li.li-Pc1 .prod_row2, .Prod-cate ul li.li-Pc1 .prod_row3 {display: none;}

.Prod-cate ul li.li-Pc2 {padding: 10px 0; border-bottom: 1px solid #ececec; width: 100% !important;}
.Prod-cate ul li.li-Pc2 .i-Pnb {width: 90px; height: 75px; overflow: hidden; overflow: hidden; float: left;}
.Prod-cate ul li.li-Pc2 .i-Pnb img {width: 90px; min-height: 75px;}
.Prod-cate ul li.li-Pc2 .prod_row1 {float: left; padding-left: 10px; width: 60% !important;}
.Prod-cate ul li.li-Pc2 .prod_row1 .n-Pnb {padding-top: 0;}
.Prod-cate ul li.li-Pc2 .prod_row2 {float: left; padding-left: 10px; text-align: center; width: 100px;}
.Prod-cate ul li.li-Pc2 .prod_row3 {float: left; padding-left: 10px; text-align: center; width: 100px;}
.Prod-cate ul li.li-Pc2 .price-Pnb {color: #F98D32; float: right; font-size: 17px; text-align: right; width: 160px; height: inherit; background: none; padding-top: 0; white-space: inherit; text-overflow: inherit; overflow: inherit;}

.f-cont {padding: 10px 0 20px 0;}
.l-fcont {width: 75%; float: left;}
.r-fcont {width: 25%; float: right;}

.t-lfcont {font-size: 18px; font-weight: normal; color: #111; padding-bottom: 10px;}

.sli-lfcont {}
.sli-fcon-1 {width: 100%; float: left;}
#sli-fcon-2 {width: 62px; float: right;}

.ul-sli-fcon-1 li {text-align: center;}
.ul-sli-fcon-1 li img {margin: 0 auto;}

#sli-fcon-2 a {display: block; width: 60px; height: 60px; border: 1px solid #eaeaea; text-align: center;}
#sli-fcon-2 a.active {border: 1px solid #3CA31C;}
#sli-fcon-2 a + a {margin-top: 10px;}
#sli-fcon-2 a img {height: 60px; max-width: 100%;}

.t-ttct {font-size: 16px; font-weight: normal; padding: 20px 0 10px 0; background: url(../imgs/layout/tool-ct.png) repeat-x bottom;}

.f-ndct {line-height: 21px; padding: 10px 0;}
.f-ndct img, .f-ndct div, .f-ndct table, .f-ndct h1, .f-ndct h2, .f-ndct h3, .f-ndct h4, .f-ndct h5, .f-ndct h6, .f-ndct p, .f-ndct strong, .f-ndct em {max-width: 100% !important;}
.f-ndct img {padding: 5px 0;}

.face-cmm {}
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}

.gbsp{padding:0 0 12px 12px;}
.gbsp span{color:#4c4c4c; display:block; font-size:16px; padding:0 0 12px 0;}
.gbsp h1{color:#3ca31b; font-size:28px; font-weight:normal;}
.title_dv_details{border-bottom:1px solid #f1f1f1; padding-bottom:1px !important;}

.slsp{padding:10px 0; border-top:1px solid #f1f1f1; border-bottom:1px solid #f1f1f1; height:38px; line-height:38px; color:#4c4c4c;}
.slsp span{float:left; width:auto; text-align:left; display:block;}
.ipt_prod_details{float:left; width:30px; margin:0 10px; background:#fff; border:1px solid #e0e0e0; height:36px; text-align:center; font-size:13px; font-weight:bold; color:#333; line-height:36px; padding:0 5px;}
.btn_prod_details{float:right; width:164px; height:38px; border:0; background-color: #669AD3; color: #ffffff;) no-repeat 0px 0px; cursor:pointer;}
/*.btn_prod_details:hover, .btn_prod_details:focus{background:url(../imgs/layout/btn_prod_details.png) no-repeat 0px -38px;}*/

.info_prod_details{border-bottom:1px solid #f1f1f1; padding:12px;}
.info_prod_details ul li{padding-top:15px; color:#4c4c4c;}
.l_ipd{float:left; width:140px; font-weight:normal;}
.r_ipd{overflow:hidden;}

.block_prod_details{padding-top:15px;}

.info_gh{background:#f5f5f1; padding:12px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

.i_p_prod_details{float:left; width:90px; padding-right:10px;}
.i_p_prod_details img{padding:3px; background:#fff; border:1px solid #e2e2e2; width:82px; height:78px;}
.i_gh_details{overflow:hidden; font-size:11px; text-align: center; padding: 5px; background-color: #000000; box-shadow: 0 1px 2px rgba(0,0,0,.1); box-sizing: border-box;}
.i_gh_details h3 a{color: #ffffff;}
.i_gh_details h3 a:hover{text-decoration:underline;}
.f_iod li{padding-top:5px; font-size:11px;}
.f_iod li span{display:block;}
.s1_iod{float:left; width:65px;}
.s2_iod{overflow:hidden;}
.s2_iod a{color:#666;width: 235px;}
.s2_iod a:hover{text-decoration:underline;}
.s2_iod img{padding:0 3px 3px 0;}

.f_prod_other{border:1px solid #eee; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding:0 10px;}
.title_prod_other{font-size:16px; font-weight:normal; color:#010101; padding:6px 0 3px 0; border-bottom:2px solid #ddd;}
.main_prod_other{padding-bottom:10px; border-bottom:1px solid #eee;}
.main_prod_other ul li{padding-top:10px;}
.main_prod_other ul li span{display:block;}
.s1_po{float:left; padding-right:10px; width:90px;}
.s1_po div{width:82px; height:78px; padding:3px; background:#fff; border:1px solid #e2e2e2;}
.s1_po div:hover{border:1px solid #ccc; background:#f4f4f4;}
.s1_po div span{width:100%; height:100%; overflow:hidden;}
.s1_po div span img{width:82px; min-height:78px; }
.s2_po{overflow:hidden;}
.s2_po span{text-align:justify; padding-top:5px; }
.s2_po span a{color:#666; display:block;}
.s2_po span a:hover{text-decoration:underline;}
.s2_po h4 a{color:#333;}
.s2_po h4 a:hover{color:#3ba01c;}
.s2_po p{color:#3ca31b; font-size:18px;}

.rm_prod_other{display:inline-block; text-align:right; padding:7px 0 7px 10px; font-size:10px; text-transform:uppercase; color:#333; background:url(../imgs/layout/icon_rm.png) no-repeat left;}
.rm_prod_other:hover{text-decoration:underline;}


.form_dn{padding-top:20px; max-width: 1210px;}
.form_dn ul li{float:left; width:480px;}
.form_dn ul li:nth-child(1n){float:left; text-align: center;}
.form_dn ul li:nth-child(2n){float:right;}

.main_f_dn{
	border:1px solid #dbdbdb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.title_f_tt{
	background:#f5f5f1;	
	border-bottom:1px solid #dbdbdb;
	height:38px; line-height:38px;
	text-indent:10px;
	font-size:16px;
}
.main_f_tt{color:#4C4C4C;}
.main_f_tt a{color:#4C4C4C;}
.main_f_tt a:hover{text-decoration:underline;}
.module_ftt{padding-top:15px;}
.l_f_tt{float:left; text-align:right; width:30%; font-weight:bold; height:29px; line-height:29px;}
.r_f_tt{float:right; text-align:left; width:67%;}
.ipt_f_tt{
	border-left:1px solid #c2c2c2;	
	border-top:1px solid #c2c2c2;
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	width:282px; height:27px;
	padding:0 5px;
}
.ipt_mxn{
	border-left:1px solid #c2c2c2;	
	border-top:1px solid #c2c2c2;
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	width:205px; height:27px;
	padding:0 5px;
	float:left;
}
.img_capcha{float:left; width:67px; padding-left:10px;}

.btn_dn{
	width:108px; height:32px;
	background:url(../imgs/layout/dangnhap.png) no-repeat 0px 0px;
	cursor:pointer;
	border:0;
}
.btn_dn:hover{background:url(../imgs/layout/dangnhap.png) no-repeat 0px -32px}
.btn_dk{
	width:108px; height:32px;
	background:url(../imgs/layout/dangky.png) no-repeat 0px -0px;
	cursor:pointer;
	border:0;
}
.btn_dk:hover{background:url(../imgs/layout/dangky.png) no-repeat 0px -32px}
.btn_qmk {
	width:161px; height:32px;
	background: url(../imgs/layout/quenmatkhau.png) no-repeat 0px 0px;
	cursor:pointer;
	border:0;	
}
.btn_qmk:hover {background-position: 0px -32px;}

.info_gt{float:left; padding-right:10px; height:29px; line-height:29px;}
.info_gt input{}
.info_gt label{padding-left:5px;}

.star_style{color:#ff003a; font-size:11px; font-family:Tahoma, Geneva, sans-serif; padding-left:3px;}

.info_f_tt{padding:15px; border-top:1px solid #eee; font-size:11px;}

.list-cate {
	border: 1px solid #dbdbdb;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/****************************alldanhmuc*******************************************/
.f-list
{
    padding: 30px 30px;
}
.f-list ul.ul-list > li
{
    float: left;
    width: 20%;
}
.f-list ul.ul-list > li + li + li + li + li + li
{
    margin-top: 20px ;
}
.f-list ul.ul-list > li:nth-child(6),
.f-list ul.ul-list > li:nth-child(11),
.f-list ul.ul-list > li:nth-child(16),
.f-list ul.ul-list > li:nth-child(21),
.f-list ul.ul-list > li:nth-child(26),
.f-list ul.ul-list > li:nth-child(31)
{
    clear: both;
}

.f-list ul.ul-list > li > a
{
    color: #0033CC;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    height: 22px;
    line-height: 20px;
    text-overflow: ellipsis;
    font-size: 12px;
    padding-top: 5px;

}
.f-list ul.ul-list > li > a> img
{
    width: 16px;
    height: 10px;
}

.f-list ul.ul-list > li > a:hover
{
    color: #3ba11b;
    text-decoration: underline;
}

.f-list ul.ul-list > li > ul > li
{
    line-height: 21px;
}

.f-list ul.ul-list > li > ul > li > a
{
    padding-left: 20px;
    color: #666;
    display:block;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    height: 21px;
    text-overflow: ellipsis;
    padding-top: 5px;
}
.f-list ul.ul-list > li >ul >li > a> img
{
    width:16px;
    height: 10px;
    float:left;
    clear: both;
}
.f-list ul.ul-list > li > ul > li > a:hover
{
    color: #3ba11b; text-decoration: underline;
}


/*****************************end#all*****************************************/

.menu-responsive{display: none;}


/**********************reponsive menu khi kich thuoc nho hon 992px********************/

@media (max-width: 992px)
{
    .menu-responsive
    {
        display: block;
    }
}

/***************************************************end*******************************/
.arrowLine
{
    float: left;
    height:15px;
    width:34px;
    padding: 9px 9px 11px 9px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.triangle_left
{
    height:0px; width:0px;
    border-left:17px solid #FD2334;
    border-top:17px solid transparent;
    border-bottom:17px solid transparent;
    float:left;
}

.arrowCategory
{
    float: left;
    text-transform: uppercase;
    color: white !important;
    font-weight: bold;
    width: 137px;
    height: 19px;
    padding: 11px 0 5px 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.arrowCategory a
{
    color: white !important;
}

.divCategory
{
    clear: both;
    height: 68px;
}

.divContent
{
    float: left;
    width: 92px;
    text-align: center;
    color: white !important;
    padding: 5px 0 0 0;
    cursor: pointer;
}

.divContent img
{
    width: 25px;
    height: 25px;
}

.divContent p a
{
    color: #ffffff !important;
}

.a-subName
{
    color: #3E3E3E !important;
}

.a-subName:hover
{
    color: #365DB5 !important;
}

.sep
{
    width: 1px;
    height: 31px;
    background-color: #ffffff;
    margin: 17px 0 17px 0;
    float: left;
    -webkit-box-shadow: 8px 0 10px -6px #ffffff;
    -moz-box-shadow: 8px 0 10px -6px #ffffff;
    box-shadow: 8px 0 10px -6px #ffffff;
}

.divSubCategory
{
    clear: both;
    background-color: #ffffff;
    height: 180px;
}

.aSubCategory
{
    font-size: 13px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
}

.aSubCategory:first-child
{
    margin-top: 0;
}

.aSubCategory a
{
    width: 190px;
    overflow: hidden;
}

.divProductLine1
{
    float: left;
    width: 200px;
    height: 209px;
    position: relative;
    cursor: pointer;
    border: 1px solid #F5F5F5;
}

.divProductLine1:hover
{
    opacity: 0.85;
}

.divProductOverlay1
{
    width: 200px;
    background-color: white;
    opacity: 0.9;
    padding: 5px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

.divProductOverlay1:hover
{
    color: #000000;
    cursor: pointer;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.divProductLine1 span
{
    display: inline-block;
    font-weight: normal;
    padding: 0 5px 0 5px;
}

.divProductLine1 span:first-child
{
    width: 95%;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 95%;
    height: 29px; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14px;
    line-height: 1em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
}

.spanMoneyKM
{
    font-size: 14px;
    color: #C31213;
    font-weight: bold !important;
}

.spanMoney
{
    font-size: 14px;
    text-decoration: line-through ;
}

.divProductLine2
{
    float: left;
    width: 210px;
    height: 164px;
}

.ads-floors
{
    clear:both;
    padding-top: 30px;
    text-align: center;
}
.ads-floors a img
{
    width: 1210px;
    height: 60px;
}

.mini-bar
{
    visibility: visible;
    background-color: #000000;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    padding: 250px 0 250px 0;
    width: 3%;
}

.mini-user
{
    color: #ffffff;
    text-align: center;
}

.mini-user:hover, .mini-shopping:hover
{
    background-color: #AB4040;
    cursor: pointer;
}

.mini-login
{
    position: fixed;
    right: 40px;
    top: 250px;
    width: 215px;
    background-color: #ffffff;
    display: none;
    z-index: 100;
}

.mini-login .main_f_dn #form1 .main_f_tt .module_ftt .r_f_tt #username, #password
{
    width: 125px;
}

.mini-remember
{
    width: 80%;
}

.mini-angle
{
    position: fixed;
    right: 33px;
    top: 250px;
    color: #f5f5f1;
    background-color: transparent;
    display: none;
    z-index: 9999;
}

.mini-shopping, .mini-shopping a
{
    color: #ffffff !important;
    text-align: center;
}

.menu
{
    background: #ffffff;
    position: fixed;
    z-index: 1002;
    height: 80px;
    overflow: hidden;
    top: 0;
}

.menu .m-wrap
{
    max-width: 100% !important;
}

.menu-wrap
{
    margin-top: 80px;
}

#imgPreviewWithStyles
{
    z-index: 999;
    border: none;
    background-color: #ffffff;
    padding: 15px;
    display: inline-block;
}
/* Text below image */
#imgPreviewWithStyles span
{
    color: white;
    text-align: center;
    display: block;
    padding: 10px 0 3px 0;
}

.img-rounded
{
    width: 100%;
    height: 100%;
}

.left-home
{
    display: none;
    z-index: 100;
}

.primary-category
{
    width: 140px;
    margin-left: 2%;
    display: none;
}

.primary-category .ul-ltct li a.btn-gh3
{
    background-color: transparent;
    color: #000000 !important;
    width: 140px;
}

.fix_main
{
    margin-top: 20px;
}

.slicknav_menu
{
    background-color: #2A70D2 !important;
    margin-right: 1px;
}

.slicknav_collapsed
{
    background-color: transparent !important;
}

.slicknav_open, .menu-shop
{
    background-color: #004481 !important;
}

.div404
{
    text-align: center;
    padding: 10% 0;
}
/**************************************************Kich thuoc tu 992 tro len********************/
@media (min-width: 992px)
{
    .primary-category
    {
        display: block !important;
    }
    header .m-wrap .logo{
        margin-left: 55px;
    }
    .search_top_header{
        width: 475px;
        left: 266px;
    }
    .select_input_search{
        width: 352px;
    }
    .menu-category, .slicknav_menu, #menu li{
        display: none;
    }
    .r-box-tool{
        background-color: transparent !important;
    }
    iframe {
        width:100% !important; height: 500px !important;
    }
    .sli-fcon-1{
        width: 100% !important;
    }
    .menu{
        width: 97% !important;
    }

}
/*******************************************************kich thuoc nho hon 991px*****************************************/
@media (max-width: 991px)
{
    .container .m-wrap
    {
        margin: 60px 0  60px 0;
    }

    .search_top_header
    {
        top: 70px !important;
        left: 0 !important;
        width: 100%;
    }

    .hotline
    {
        position: absolute;
        top: 130px;
    }

    .menu, .r-box-tool, .search_top_header
    {
        margin-left: -1px !important;
    }

    .btn-gh3
    {
        margin-bottom: 5px;
    }

    .container-fluid, .ads-top, .ads-floors, .divAds, .dmsp4-2, .divCategory, .divSubCategory, #topcontrol, .l-tool-ct, .r-tool-ct
    {
        display: none;
    }

    .r-box-tool
    {
        margin-top: 55px;
        width: 100%;
        padding: 30px 0 30px 0;
        border-bottom: 1px solid #dbdbdb;
        margin-bottom: 5px;
        margin-right: 0;
        display: block;
        background-color: #ffffff !important;
    }

    .dmsp4-1
    {
        width: 100%;
        height: auto;
    }

    .dmsp4-1 .bx-wrapper
    {
        margin: 0 0 0 0 !important;
        max-width: 52px !important;
    }

    .dmsp4-1 .bx-wrapper .bx-viewport
    {
        height: 0 !important;
    }

    .divProductLine1:first-child, .menu
    {
        margin-left: 0;
    }


    .divProductLine1:nth-child(1), .divProductLine1:nth-child(3), .divProductLine1:nth-child(5)
    {
        margin-left: 0;
    }

    .divProductLine1:nth-child(2), .divProductLine1:nth-child(4), .divProductLine1:nth-child(6)
    {
        margin-left: 0;
        margin-right: 0;
    }

    .dmsp4-3
    {
        overflow: visible;
        height: auto;
        margin-bottom: 10px;
    }

    .form_dn
    {
        margin-top: 0;
        padding-top: 0;
    }

    .ipt_f_tt
    {
        width: 180px !important;
    }

    .form_dn ul li:nth-child(1n) img, .fix-box-sizing
    {
        width: 100% !important;
    }

    .list-cate
    {
        margin-top: 10px;
    }

    .r-fcont
    {
        float: left;
    }

    .bx-prev, .bx-next
    {
        display: none;
    }

    .f-ct .sidebar
    {
        width: 100% !important;

    }

    .filter-Prod .t-Pnb
    {
        padding: 0;
    }
    /****************chinh_sua_slide voi kich thuoc thu nho duoi 991**********************/




    .m-slider
    {
        display:block;
    }

    .nivoSlider
    {
        margin-top: 30px;
        margin-bottom: -20px;
        height: 482px;
        width: 100%;
        padding:0px;
    }

    .nivoSlider a.nivo-imageLink
    {

    }

    .nivoSlider a.nivo-imageLink img
    {

    }






    /*********************************************end*********************************************/
    .logo{
        left: 20%;
    }

    .fix_main{
        margin-top: 0;
    }

    .s-Pnb, .prod_row2, .prod_row3{
        display: none !important;
    }

    .ads-article{
        margin-top: 0;
    }

    #container{
        margin-top: 50px;
    }
    .menu{
        width: 100% !important;
        height: 154px;
    }
    .select_input_search{
        width: 61%;
        padding: 0 5px 0 6px;
    }
    .div404{
        padding: 35% 0;
    }
    iframe {
        max-width:100% !important;
        max-height: 100% !important;
    }
    .mini-bar{
        visibility: hidden;
    }
}
/**************************************kich thuoc tu 992 den 1008******************************************/

@media (min-width: 992px) and (max-width: 1008px)
{
    .fixed{
        width: 97%;
    }
    .btn-gh3{
        width: 190px !important;
    }
    .r-box-tool{
        margin: 15px 40px 0 0;
    }
    .dmsp4-2{
        width: 390px !important;
    }
    .dmsp4-3{
        width: 350px !important;
    }
    .ads-home{
        width: 450px !important;
    }
    .menu{
        width: 97% !important;
    }
    .mini-bar{
        width: 3% !important;
    }
    .arrowCategory{
        width: 136px !important;
        height: auto !important;
    }
    .l-fcont, .bx-viewport{
        width: 60% !important;
    }
    .sli-fcon-1{
        width: 95% !important;
    }
    .r-fcont{
        width: 40% !important;
    }
    .li-Pc1, .prod_row1{
        width: 173px !important;
    }
    .content, .t-Pnb{
        width: 600px !important;
    }
    .btn-category{
        width: 90px !important;
    }
    .primary-category:first-child,
    .primary-category:nth-child(2),
    .primary-category:nth-child(3),
    .primary-category:nth-child(4),
    .primary-category:nth-child(5)
    {
        display: none !important;
    }
    .ads-home{
        width: 588px !important;
    }
    .slide{
        max-width: 100% !important;
        width: 100% !important;
    }
}
/************************************* kich thuoc tu 1009 tro len******************************/
@media (min-width: 1009px)
{
    .dmsp4-2
    {
        width: 390px !important;
    }
}

/******************************************************************************************/

a.popup-link
{
    padding:17px 0;
    text-align: center;
    position: relative;
    width: 200px;
    margin: 0 0 12px 12px;
    color: #fff;
    text-decoration: none;
    background-color: #FB8833;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    display: none;
}
a.popup-link:hover
{
    background-color: #ff9900;
    box-shadow: 0 3px 0px 0px #eea900;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
/* end link popup*//*style untuk popup */
#popup
{
    visibility: hidden;
    opacity: 0;
    margin-top: -200px;
    height: 190px;
}
#popup:target
{
    visibility:visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 99999999999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
    height: auto;
}

/***************************kich thuoc tu 768 den 991********************************************************/
@media (min-width: 768px)
{
    .popup-container
    {
        width:757px;
    }
    .popup-image
    {
        width: 240px;
        height: 260px;
    }
    .popup-checkout
    {
        width: 450px;
        height: 100%;
    }
}


/**************************nho hon 767**************************************************/
@media (max-width: 767px)
{
    .popup-image
    {
        display: none;
    }
    .popup-container, .popup-checkout
    {
        width:100%;
    }

    /*******************end*****************************/
}


.m-slider
{
    background-color: #FFffff;
    width: 100%;
    height:483px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-sizing: border-box;
}



.popup-container
{
    position: relative;
    margin: 7% auto;
    padding: 30px 0 50px 0;
    background-color: #fff;
    color:#333;
    border-radius: 7px;
    height: 388px;
    display: none;
}
a.popup-close
{
     position: absolute;
     top:10px;
     right:10px;
     background-color: #fff;
     padding:5px 8px 5px 8px;
     font-size: 12px;
     text-decoration: none;
     line-height: 1;
     color:grey;
    border: 1px solid grey;
    border-radius: 50%;
 }/* style untuk isi popup */
.popup-form
{
    margin:10px auto;
}
.popup-form h2
{
    margin-bottom: 5px;
    font-size: 37px;
    text-transform: uppercase;
}
.popup-form .input-group
{
    margin:10px auto;
}
.popup-form .input-group input
{
    padding:5px;
    text-align: left;
    margin: 0 0 10px 10px;
    border-radius:3px;
    font-size: 16px;
    display: block;
    width: 90%;
}
.popup-form .input-group input:focus
{
    outline-color:#FB8833;
}
.popup-form .input-group input[type="email"]
{
    position: relative;
}
.popup-form .input-group input[type="button"]
{
    background-color: #FB8833;
    color: #fff;
    border: 0;
    cursor: pointer;
    padding: 17px;
    text-align: center;
}
.popup-form .input-group input[type="button"]:focus
{
    box-shadow: inset 0 3px 7px 3px #ea7722;
}

.popup-image
{
    float: left;
    background-color: inherit;
    padding: 0 10px 0 10px;
}

.popup-image img
{
    max-width: 100%;
    max-height: 100%;
}

.popup-image h1
{
    font-weight: normal;
    margin-top: 10px;
}

.popup-checkout
{
    float: right;
    background-color: inherit;
}

.popup-price
{
    color: #FB8833;
    font-weight: bold !important;
    font-size: 16px;
    padding-bottom: 10px;
}

.popup-footer
{
    background: #f3f3f3;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 11px 22px 11px 20px;
    width: 94%;
    float: left;
    line-height: 25px;
}

#qtyPopup
{
    width: 50px;
    float: left;
    padding: 5px;
}

.popup-image span
{
    padding: 5px 0 5px 0;
    width: 100px;
    float: left;
}

.nivo-imageLink img
{
    width: 1210px !important;
    height:200px !important;/*hang nay moi them vao*/
}

label
{
    display: inline-block;
    width: 100%;
    background-color: #7AB893;
    opacity: 0.85;
    padding: 3px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
/******************************************m-slider toan trang**********************/


.m-slider{
    background-color: #FFffff;
    width: 100%;
    height:483px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-sizing: border-box;
}

/***********************************************************************************/
.fb-comments iframe
{
    width:100% !important; height: 100% !important;
}
.s2_hotline
{
    font-size: 16px;
    color: red;
}

#SkypeButton_paraElement
{
    height: 22px;
    padding: 0;
    position: relative;
    top: -10px;
}

.btn-edit
{
    float: right;
}

#fadeandscale
{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.popup_visible #fadeandscale
{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.well
{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display:none;
    margin:1em;
}
pre.prettyprint
{
    padding: 9px 14px;
}

.initialism
{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary
{
    color: white !important;
    border-radius: 4px !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
}

.button-success
{
    background: rgb(28, 184, 65) !important; /* this is a green */
}

.button-error
{
    background: rgb(202, 60, 60) !important; /* this is a maroon */
}

.button-warning
{
    background: rgb(223, 117, 20) !important; /* this is an orange */
}

.button-secondary
{
    background: rgb(66, 184, 221) !important; /* this is a light blue */
}

.button-transparent
{
    background: transparent !important; /* this is a green */
}
