/**************************************** BEGIN IE6 ****************************************/
*html body{behavior: url(../scripts/whateverhover.htc);}
*html .fix-box-sizing {behavior: url(../templates/boxsizing.htc);}

/**************************************** END IE6 ****************************************/

/**************************************** BEGIN IE7 ****************************************/

*+html .fix-box-sizing {behavior: url(../templates/boxsizing.htc);}

/**************************************** END IE7 ****************************************/

/**************************************** BEGIN IE8 ****************************************/
@media \0screen {
	
}
/**************************************** END IE8 ****************************************/