.ShowToolTip
{
	border: #ccc 2px solid;
	z-index: 99999;
	/*FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);*/
	visibility: hidden;
	background:#fff;
	padding:0 10px;
	box-shadow:0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
	width:250px;
	overflow:hidden;
}