body
{
padding:50px;
font-size:0.85em;
font-family:arial;
}

a
{
text-decoration:none;
color:#3b5998;
}

a:hover
{
text-decoration:underline;
}



.info
{
line-height:150%;
width:650px;
overflow:auto;
margin-top:30px;
color:#555555;
}

.copy
{
color:#999999;
size:11px;
}

